<app-header></app-header>

<html>
<head>
	<title>PERTECT MATCH </title>
	
	
</head>
<body>
	
	
	
	<div class="middle">
		<div style="background-image:url('assets/images/a.jpg');">
		<p>
			<br> <br>
					BETTER PATTERN  Services  <br>
			<font size="5px"> We Care About Your HAPPINESS</font>
		</p> 
		</div>
	</div>
	
	<div class="bottom">
		<div>
			<table border="0">
				<tr>
					<td width="700px">
						<font color="#000"> We are beautiful center </font> <br> <br>

					<font color="#000" size="5px"> We Have BETTER Plan Options for You</font> <br> <br>
                    A wedding anniversary is the celebration of love, trust, partnership, tolerance, and tenacity.<br><br>
                    A perfect marriage is just two imperfect people who refuse to give up on each other. ...<br><br>
<ul>
<li> Treating your partner with respect
<li>Today, I choose to love you with my very best self
<li>Love doesn't make the world go round
<li>It is a sacred bond
<li>when there is understanding and tolerance between couple
</ul>
<br>
 </td>
					
					
					<td> </td>
				</tr>
			
				
			</table>
		</div>
	</div>

